<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>information</title>
  </head>
  <body>
    <div class="flower__information">
      <form action="/inventory/edit?id=<%= flower.id %>" method="post">
        <select name="climate_id" id="climate_options">
          <option value="<%= flower.climate %>" selected data-id="1">
            <%= flower.climate %>
          </option>
          <% climate.forEach(c => { %> <% if (flower.climate === c.climate)
          return; %>
          <option value="<%= c.id %>"><%= c.climate %></option>
          <% }) %>
        </select>

        <select name="size_id" id="size_options">
          <option value="<%= flower.size %>" selected>
            <%= flower.size %>
          </option>
          <% size.forEach(c => { %> <% if (flower.size === c.size) return; %>
          <option value="<%= c.id %>"><%= c.size %></option>
          <% }) %>
        </select>

        <select name="watering_id" id="watering_options">
          <option value="<%= flower.consistency %>" selected>
            <%= flower.consistency %>
          </option>
          <% water.forEach(c => { %> <% if (flower.consistency ===
          c.consistency) return; %>
          <option value="<%= c.id %>"><%= c.consistency %></option>
          <% }) %>
        </select>

        <select name="light_id" id="sunlight_options">
          <option value="<%= flower.sunlight %>" selected>
            <%= flower.sunlight %>
          </option>
          <% sunlight.forEach(c => { %> <% if (flower.sunlight === c.sunlight)
          return; %>
          <option value="<%= c.id %>"><%= c.sunlight %></option>
          <% }) %>
        </select>

        <button type="submit">Update</button>
      </form>

      <h1><%= flower.seed %></h1>
      <p>Ideal climate: <%= flower.climate %></p>
      <p>Final size: <%= flower.size %></p>
      <p>Watering: <%= flower.consistency %></p>
      <p>Sunlight needed: <%= flower.sunlight %></p>
    </div>
  </body>
</html>
