<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>information</title>
</head>
<body>
  <h1><%= flower.seed %></h1>
  <p>Ideal climate: <%= flower.climate %></p>
  <p>Final size: <%= flower.size %></p>
  <p>Watering: <%= flower.consistency %></p>
  <p>Sunlight needed: <%= flower.sunlight %></p>
</body>
</html>